//Colour

$font-color-1:#26afeb;
$font-color-2:#38464d;
$font-color-3:#ff951f;

$bg-color-even:#f9fafa;



//GRID
$grid-width:100%;
$gutter-vertical:10rem;  //space btw 2 row
$gutter-horizontal:6rem; // space btw cols



